<h1>Create a place</h1>

<form method="POST">
  <label for="name-input">Place Name</label>
  <input id="name-input" type="text" placeholder="Name" name="name">

  <label for="type-input">Type (<em>coffee_shop</em> or <em>bookstore</em>)</label>
  <input id="type-input" type="text" placeholder="type" name="type">
  
  <button>Create Place</button>
</form>