<h1>Edit a place</h1>

<form method="POST">
  <label for="name-input">Place Name</label>
  <input id="name-input" type="text" placeholder="Name" name="name">

  <label for="type-input">Type (<em>coffee_shop</em> or <em>bookstore</em>)</label>
  <input id="type-input" type="text" placeholder="type" name="type">
  
  <label for="latitude-input">Restaurant Latitude</label>
  <input id="latitude-input" type="text" placeholder="Latitude" name="latitude">
  
  <label for="longitude-input">Restaurant Longitude</label>
  <input id="longitude-input" type="text" placeholder="Longitude" name="longitude">
  <button>Create Place</button>
</form>
